<nav>
  <div class="nav-left">
    <div class="links">
      <a href="/">Home</a>
      <% if (typeof userId !== 'undefined' && userId !== null) { %>
        <a href="/users/<%= userId %>">My Profile</a>
        <a href="/users/messages">My Messages</a>
      <a href="/users/favorites">My Favorites</a>
      <a href="/advsearch">Advanced Search</a>
      <% if (user_type === 'seller') { %>
        <a href="/post">Post New</a>
        <% } %>
      <% } %>
    </div>
  </div>

  <div class="nav-center">
    <a href="/" id="logo-link">
      <span id="logo"><b>Lighthouse Marketplace</b></span>
    </a>
  </div>

  <div class="nav-right">
    <div class="menu-options">
      <form action="/search" method="post">
        <input id="search-input" type="text" name = "searchTerm" placeholder="Search...">
        <button id="search-button" type="submit"><i class="fa-solid fa-search"></i></button>
    </form>
    <% if (typeof userId !== 'undefined' && userId !== null) { %>
      <span class="logged">
        <span>Hello, <%= firstName %> <%= lastName %></span>
      </form>
    <%} else { %>
        <a href="/users/signin">
        <button id="sign-in">Sign in</button>
        </a>
    <% } %>
    <div class="dropdown-menu">
      <span id="dropdown-menu-icon" class="fa-solid fa-bars" style="color: black">
      <ul id ="dropdown-menu-content">
        <% if (typeof userId !== 'undefined' && userId !== null) { %>
        <a href="/users/favorites">Favorites</a>
        <a href="/users/messages">Messages</a>
        <a href="#" id="signout-link">Sign out</a>
        <%} else { %>
          <a href="/users/favorites">Favorites</a>
          <a href="/users/messages">Messages</a>
          <% } %>
      </ul>
    </span>
    </div>
  </div>
</nav>
