<nav>
  <div class="nav-left">
    <div class="links">
      <a href="/link1">Link 1</a>
      <a href="/link2">Link 2</a>
    </div>
  </div>

  <div class="nav-center">
    <a href="/" id="logo-link">
      <span id="logo"><b>Lighthouse Marketplace</b></span>
    </a>
  </div>

  <div class="nav-right">
    <div class="menu-options">
    <input id ="search-bar" type="text" placeholder="Search..">
    <% if (typeof userId !== 'undefined' && userId !== null) { %>
      <span class="logged">
        Hello, <%= firstName %><%= lastName %>
        <a href="/users/userlistings">
          <button>My profile</button>
        </a>
      </span>
      <form method="POST" action="/users/signout">
        <button type="submit">Sign out</button>
      </form>
    <%} else { %>
        <a href="/users/signin">
        <button id="sign-in">Sign in</button>
        </a>
    <% } %>
    <div class="dropdown-menu">
      <span id="dropdown-menu-icon" class="fa-solid fa-bars" style="color: black">
        <ul id="dropdown-menu-content">
          <a href="/users/favorites">Favorites</a>
          <a href="/link2">Link 2</a>
        </ul>
      </span>
    </div>
  </div>
</nav>
