<!DOCTYPE html>
<html lang="en">
<head>
  <title>New posting</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/post.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/custom.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/results.js"></script>

</head>
<body>
  <%- include('partials/_nav') %>

  <div class="post">
    <form action="/post" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>

      <label for="price">Price:</label>
      <input type="number" step="0.01" id="price" name="price" required>

      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="Electronics">Electronics</option>
        <option value="Clothing">Clothing</option>
        <option value="Furniture">Furniture</option>
        <!-- Add more categories as required -->
      </select>

      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required>



      <label for="image_url">Image URL:</label>
      <input type="url" id="image_url" name="image_url" required>

      <fieldset>
      <label for="is_deleted">Is Deleted:</label>
      <input type="checkbox" id="is_deleted" name="is_deleted">

      <label for="is_featured">Is Featured:</label>
      <input type="checkbox" id="is_featured" name="is_featured">
      </fieldset>
      <input type="submit" value="Post Listing">
    </form>
  </div>
</body>
</html>
