body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2DA9C;
  h3 {
    padding: 2em 1em;
    text-align: center;
  }
}

.favorited-listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2em 1em;
  width: 100%;
  .favorited-listing {
    img {
      height: 150px;
      width: 150px;
      border-radius: 15px;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
    max-width: 1800;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    .fa-star {
      color: #FFC800;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: black;
      }
    }
  }
  background-color: #f2f2f2e7;
}

.yellow-star {
  color: #FFC800;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1em;
    h3 {
      font-size: 1.2em;
      padding: 1em 0.5em;
    }
  }

  .favorited-listings {
    padding: 1em;
    .favorited-listing {
      width: 90%;
      margin: 0 auto;
      img {
        height: 100px;
        width: 100px;
        border-radius: 12px;
      }
    }
  }
}

.black-star {
  color: black;
}
