.listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  .listing {
    img {
      height: 240px;
      width: 240px;
    }
  }
  background-color: #F2F2F2;
}

.featured-listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  .featured-listing {
    img {
      height: 240px;
      width: 240px;
    }
  }
}