.listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  .listing {
    img {
      height: 200px;
      width: 200px;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
        color: #111;
        transform: scale(1.1);
        text-shadow: none;
      }
    }
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    .fa-star {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: #FFC800;
      }
    }
  }
  max-width: 1800px;
  background-color: #f2f2f2e7;

  @media screen and (max-width: 767px) {
    .listing img {
      height: 150px;
      width: 150px;
    }
  }
}

.featured-listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; // added for mobile support
  justify-content: center; // added for mobile support
  .featured-listing {
    img {
      height: 240px;
      width: 240px;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
        color: #111;
        transform: scale(1.1);
        text-shadow: none;
      }
    }
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    .fa-star {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      z-index: 1;
    }

    @media screen and (max-width: 767px) {
      img {
        height: 180px;
        width: 180px;
      }
    }
  }
}

.yellow-star {
  color: #FFC800;
}

.white-star {
  color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFCD29;
  width: 100%;
  padding: 5em 0em 0em 0em;

  #featured-logo {
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

// Adjustments for larger screens
@media screen and (min-width: 1024px) {
}
