.listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  .listing {
    img {
      height: 200px;
      width: 200px;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
        color: #111;
        transform: scale(1.1);
        text-shadow: none;
      }
    }
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    .fa-star {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: #FFC800;
      }
    }
    // border: solid black 0.5px;
  }
  max-width: 1800px;
  background-color: #f2f2f2e7;
}

.featured-listings {
  display: flex;
  align-items: center;
  flex-direction: row;
  .featured-listing {
    img {
      height: 240px;
      width: 240px;
      border-radius: 25px;
      &:hover {
        cursor: pointer;
        color: #111;
        transform: scale(1.1);
        text-shadow: none;
      }
    }
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    .fa-star {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}