body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
}

nav {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  color: #000000;
  background-color: #FFFFFF;
  padding: 1.5em;
  height: 75px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

  #logo {
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    padding: 0em 25em 0em 45.5em;
    font-size: 1.15em;
    :hover {
      cursor: pointer;
    }
  }

  #links {
    position: absolute;
    padding: 0em 0em 0em 0em;
  }

  .menu-options {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0em 0em 0em 93em;
  }

  #drop-down-menu {
    font-size: 1.5em;
    padding: 0em 0em 0em 2.5em;
    &:hover {
      cursor: pointer;
    }
  }
}

.featured {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFCD29;
  width: 100%;
  padding: 5em 0em 15em 0em;

  #featured-logo {
    font-size: 2em;
  }
}