body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
}

.featured {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFCD29;
  width: 100%;
  padding: 5em 0em 0em 0em;

  #featured-logo {
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1024px) {
}