nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
  background-color: #9ce9f1;
  padding: 1.5em;
  height: 75px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

  .nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
  }
  .nav-right {
    justify-content: flex-end;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: contents;
  }

  #logo-link {
    margin: 0;
    position: static;
  }

  #logo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 1.15em;
  }

  .links {
    display: none; // Hide on mobile by default
    a {
      padding: 0 1em; // Optional: To give space between links
    }
  }

  .menu-options {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    #sign-in {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .dropdown-menu {
    display: flex;
    align-items: center;
    padding-left: 1.5em;

    #dropdown-menu-icon {
      font-size: 1.5em;

      &:hover {
        cursor: pointer;
      }
    }

    #dropdown-menu-content {
      display: none;
      position: absolute;
      background-color: #b4afaf;
      z-index: 1;
      padding-left: 1em;
      font-size: medium;
      background-color: white;
      a {
        color: black;
      }
    }
    
  }
}

@media screen and (min-width: 768px) {
  nav {
    .links {
      display: flex;
      justify-content: flex-start;
      a {
        margin-right: 10px;
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #000000;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        &:hover {
          box-shadow: inset 100px 0 0 0 #54b3d6;
          color: #007bff;
        }
      }
    }
    .dropdown-menu {
      padding-right: 2em;
      // display: none; // Hide the dropdown on larger screens
    }
  }

  .logged {
    display: flex;
  }
}